@model Surya.India.Model.ViewModels.Sch_FeeDueMasterDetailModel
@using Surya.India.Core.Common


<style type="text/css">
    #gbody-modal {
        height: 250px;
        overflow-y: scroll;
        width: 100%;
    }
</style>


<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> Fee Due</span>
        </h3>
    </div>
    <div>
        @using (Html.BeginForm("_ResultsPost", "FeeDueLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "modform" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m=>m.FeeDueHeaderId)

            <div class="form-horizontal modal-body">

                <div style="padding-right:15px">
                    <div class="row">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)





                            <div class="panel panel-default" id="grid">
                                <div class="panel-heading headrow" style="background-image: -webkit-linear-gradient(top, #428bca 0%, #428bca 100%);color:white">
                                    <div class="row grid-head">
                                        <div class="block text-left" style="width:5%">
                                            Srl.
                                        </div>
                                        <div class="block" style="width:92%">
                                            <div class="row">
                                                
                                                <div class="block" style="width:50%">
                                                    Student Name
                                                </div>
                                               
                                                <div class="block" style="width:20%">
                                                    Fee Head
                                                </div>

                                                <div class="block text-right" style="width:13%">
                                                    Amount
                                                </div>

                                     
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-info" id="gbody-modal">

                                    @for (int i = 0; i < Model.FeeDueLineViewModel.Count(); i++)
                                    {




                                        <div class='row crow grid-body' style='margin-left:0px;margin-right:0px'>
                                            @Html.HiddenFor(m => Model.FeeDueLineViewModel[i].AdmissionId)
                                            @Html.HiddenFor(m => Model.FeeDueLineViewModel[i].FeeId)
                                            @Html.HiddenFor(m => Model.FeeDueLineViewModel[i].Amount)
                                            @Html.HiddenFor(m => Model.FeeDueLineViewModel[i].Recurrence)



                                            <div class='block row-index' style='width:5%'>
                                                @(i + 1)
                                            </div>
                                            <div class='block pull-middle' style='width:94%'>

                                                <div class='row'>

                                                    <div class='block' style='width:50%'>
                                                        <strong> @Model.FeeDueLineViewModel[i].StudentName</strong>
                                                        <br />
                                                    </div>
                                                    <div class='block' style='width:25%'>
                                                        @Model.FeeDueLineViewModel[i].FeeName
                                                        <br />
                                                    </div>
                                                    <div class='block' style='width:25%'>
                                                        @Model.FeeDueLineViewModel[i].Amount
                                                        <br />
                                                    </div>
                                        

                                                </div>

                                            </div>

                                        </div>
                                        <hr style='margin-top:0px;margin-bottom:0px' />

                                    }



                                </div>
                            </div>





                        </div>
                    </div>
                </div>
                <div class="modal-footer " style="padding: 19px 20px 0 20px; border-top:1px solid #8E8888">
                    <button class="btn custom" name="Command:Edit" type="submit" id="submit"><h2 style="margin:0px" title="Proceed"><span class="glyphicon glyphicon-floppy-disk black black"></span> </h2></button>
                </div>
            </div>
        }
    </div>
</div>

