@model Surya.India.Model.ViewModels.Sch_UnScheduledFeeDueLineViewModel
@using Surya.India.Core.Common

<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> Fee Due </span>
        </h3>
    </div>
    <div>
        @using (Html.BeginForm("_CreatePost", "UnScheduledFeeDueLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "modform" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(model => model.FeeDueHeaderId)
            @Html.HiddenFor(model => model.FeeDueLineId)
            @Html.HiddenFor(model => model.FeeId)

            <div class="form-horizontal modal-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <br />

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.AdmissionId, "Student Name", new { @class = "control-label col-xs-4 " })
                            <div class="col-xs-7">
                                @Html.TextBoxFor(model => model.AdmissionId, new { @class = "form-control col-xs-7 " })
                                @Html.ValidationMessageFor(model => model.AdmissionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProgramName, "Program", new { @class = "control-label col-xs-4" })
                            <div class="col-xs-7">
                                @Html.TextBoxFor(model => model.ProgramName, new { @class = "form-control col-xs-7 ", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.ProgramName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.StreamName, "Stream", new { @class = "control-label col-xs-4" })
                            <div class="col-xs-7">
                                @Html.TextBoxFor(model => model.StreamName, new { @class = "form-control col-xs-7 ", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.StreamName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClassName, "Class", new { @class = "control-label col-xs-4" })
                            <div class="col-xs-7">
                                @Html.TextBoxFor(model => model.ClassName, new { @class = "form-control col-xs-7 ", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.StreamName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Amount, "Amount", new { @class = "control-label col-xs-4" })
                            <div class="col-xs-7">
                                @Html.TextBoxFor(model => model.Amount, new { @class = "form-control col-xs-7 " })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Remark, "Remark", new { @class = "control-label col-xs-4" })
                            <div class="col-xs-7">
                                @Html.TextBoxFor(model => model.Remark, new { @class = "form-control col-xs-7 " })
                                @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <br />


                <div class="modal-footer " style="padding: 19px 20px 0 20px; border-top:1px solid #8E8888">
                    <button class="btn custom left" name="Command:Edit" type="submit"><h2 style="margin:0px" id="submit"><span class="glyphicon glyphicon-floppy-disk black"></span> </h2></button>
                    <button class="btn custom" name="Command:Delete" id="delete" type="submit"><h2 style="margin:0px"><span class="glyphicon glyphicon-trash black"></span> </h2></button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        CustomSelectFunction($("#AdmissionId"), '/ComboHelpList/GetAdmission', '/ComboHelpList/SetSingleAdmission', ' ', false, 0);
    });
</script>



<script type="text/javascript">


    $(function () {
        $("#AdmissionId").change(Validate_AdmissionId);
    });

    $('.datepicker').datepicker({
        format: 'dd/MM/yyyy',
        "setDate": new Date(),
        "autoclose": true

    })

    var IsSaved=false;
    var ValidationCount=0;


    //$('#modform').bind('submit',function(event){
    //    if(!IsSaved)
    //    {
    //        alert("Get");
            
    //        if(!ValidateData())
    //        {
                
    //            return false;
    //        }
    //        IsSaved=true;
    //        $('button:submit').attr('disabled','disabled');
    //        return IsSaved;
    //    }
    //    else
    //    {
    //        return false;
    //    }
    //});


    var id=@Model.FeeDueLineId;
    $('#delete','.modal-content').click(function (e) {
        if(id>0)
        {
            var url = '/UnScheduledFeeDueLine/DeletePost';
            $('form#modform').attr('action',url);
            return;
        }
        else
        {

            return false;
        }
    });

    function Validate_AdmissionId() {
        //alert ($("#ProductUidName").val());
        var ProcessProgress = $("#Student detail loading progress");
        ProcessProgress.show();
        if ($("#AdmissionId").val() != "") {
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.Action("GetAdmissionDetailJson"))",
                data: { AdmissionId : $("#AdmissionId").val() },
            success: function (data) {
                if (Object.keys(data).length != 0) {
                    $("#ProgramName").val(data[0].ProgramName);
                    $("#ClassName").val(data[0].ClassName);
                    $("#StreamName").val(data[0].StreamName);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('Failed to retrieve product Uid details.' + thrownError);
                ProcessProgress.hide();
            }
        });
    }
    }

      

</script>
