@model Surya.India.Model.ViewModels.Sch_UnScheduledFeeDueMasterDetailModel
@using Surya.India.Core.Common


<style type="text/css">
    #gbody-modal {
        height: 250px;
        overflow-y: scroll;
        width: 100%;
    }
</style>


<div class="modal-content">
    <div class="modal-header" style="border-bottom: 1px solid #8E8888">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> <span class="glyphicon glyphicon-remove"></span></button>
        <h3>
            <span style="font-family: Calibri,sans-serif,Verdana;font-weight:bold" class="black"><span class="glyphicon glyphicon-file black"></span> Fee Due</span>
        </h3>
    </div>
    <div>
        @using (Html.BeginForm("_ResultsPost", "UnScheduledFeeDueLine", FormMethod.Post, new { enctype = "multipart/form-data", id = "modform" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal modal-body">

                <div style="padding-right:15px">
                    <div class="row">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="panel panel-default" id="grid">
                                <div class="panel-heading headrow" style="background-image: -webkit-linear-gradient(top, #428bca 0%, #428bca 100%);color:white">
                                    <div class="row grid-head">
                                        <div class="block text-left" style="width:5%">
                                            Srl.
                                        </div>
                                        <div class="block" style="width:92%">
                                            <div class="row">
                                                
                                                <div class="block" style="width:30%">
                                                    Student Name
                                                </div>
                                               
                                                <div class="block" style="width:13%">
                                                    Program
                                                </div>

                                                <div class="block" style="width:13%">
                                                    Stream
                                                </div>

                                                <div class="block" style="width:13%">
                                                    Class
                                                </div>

                                                <div class="block text-right" style="width:13%">
                                                    Amount
                                                </div>

                                                <div class="block" style="width:13%">
                                                    Remark
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-info" id="gbody-modal">

                                    @for (int i = 0; i < Model.UnScheduledFeeDueLineViewModel.Count(); i++)
                                    {




                                        <div class='row crow grid-body' style='margin-left:0px;margin-right:0px'>


                                            <div class='block row-index' style='width:5%'>
                                                @Html.HiddenFor(m => Model.UnScheduledFeeDueLineViewModel[i].FeeDueHeaderId)
                                                @Html.HiddenFor(m => Model.UnScheduledFeeDueLineViewModel[i].AdmissionId)
                                                @Html.HiddenFor(m => Model.UnScheduledFeeDueLineViewModel[i].FeeId)

                                                @(i + 1)
                                            </div>
                                            <div class='block pull-middle' style='width:92%'>

                                                <div class='row'>

                                                    <div class='block' style='width:30%'>
                                                        <strong> @Model.UnScheduledFeeDueLineViewModel[i].StudentName</strong>
                                                        <br />
                                                    </div>
                                                    <div class='block' style='width:13%'>
                                                        @Model.UnScheduledFeeDueLineViewModel[i].ProgramName
                                                        <br />
                                                    </div>
                                                    <div class='block' style='width: 13%'>
                                                        @Model.UnScheduledFeeDueLineViewModel[i].StreamName
                                                        <br />
                                                    </div>
                                                    <div class='block' style='width: 13%'>
                                                        @Model.UnScheduledFeeDueLineViewModel[i].ClassName
                                                        <br />
                                                    </div>


                                                    <div>
                                                        <div class='block text-right pull-middle' style='width:13%'>
                                                            @Html.TextBoxFor(m => Model.UnScheduledFeeDueLineViewModel[i].Amount, new { @class = "form-control text-right" })
                                                        </div>

                                                        <div class='block' style='width:13%'>
                                                            @Html.TextBoxFor(m => Model.UnScheduledFeeDueLineViewModel[i].Remark, new { @class = "form-control text-left" })
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <hr style='margin-top:0px;margin-bottom:0px' />

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer " style="padding: 19px 20px 0 20px; border-top:1px solid #8E8888">
                    <button class="btn custom" name="Command:Edit" type="submit" id="submit"><h2 style="margin:0px" title="Proceed"><span class="glyphicon glyphicon-floppy-disk black black"></span> </h2></button>
                </div>
            </div>
        }
    </div>
</div>





